@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap%22%22");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap%27");


body {
    direction: rtl;
    background-color: #E5EEFF;
    font-family: "Assistant", sans-serif;
    padding: 250px 500px 250px;
}

.container {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: repeat(6, 240px);
    gap: 15px;
}

.container>div {
    background-color: #020253;
    border: 1px solid #020253;
    text-align: center;
    border: none;
}

.container>div:first-child h1 {
    color: #0EE1DA;
    font-size: 55px;
}

.container>div p {
    color: #F9F9F9;
}

.container>div:first-child {
    padding: 50px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-color: #020253;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.container>div:last-child {
    grid-column: 3 / span 2;
    grid-row: 4 / span 3;
    background-color: #8E097C;
    text-align: center;
    padding-top: 20px;

}

.container>div h1 {
    color: #FFFFFF;
}

form-container {
    width: 300px;
    margin: 0 auto;
}

.form-container h1,
.form-container p {
    text-align: center;
    padding: 5px 30px;
}

.form-container label {
    font-family: 'Heebo', sans-serif;
    display: block;
    margin-top: 20px;
    color: #0EE1DA;
    text-align: right;
    margin-right: 45px;
}

.form-container input[type="text"] {
    width: 78%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-bottom: 5px solid #0EE1DA;
}

#input3 {
    height: 100px;
}

button {
    font-family: 'Heebo', sans-serif;
    width: 82%;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    background-color: #0EE1DA;
    color: #011560;
    border: none;
    cursor: pointer;
}


.form-container h1 {
    font: normal normal bold 35px/46px Assistant;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}

.form-container p {
    padding-bottom: 30px;
}

.container>div:nth-child(2) {
    background-image: url(../project4/assets/Rectangle\ 514.png);
    background-size: cover;
}

.container>div:nth-child(3) {
    background-image: url(../project4/assets/Rectangle\ 515.png);
    background-size: cover;
}

.container>div:nth-child(4) {
    background-image: url(../project4/assets/Rectangle\ 506-5.png);
    background-size: cover;
}

.container>div:nth-child(5) {
    background-image: url(../project4/assets/Rectangle\ 516.png);
    background-size: cover;
}

.container>div:nth-child(6) {
    background-image: url(../project4/assets/Rectangle\ 506-1.png);
    background-size: cover;
}

.container>div:nth-child(7) {
    background-image: url(../project4/assets/Rectangle\ 506-4.png);
    background-size: cover;
}

.container>div:nth-child(8) {
    background-image: url(../project4/assets/Rectangle\ 506-3.png);
    background-size: cover;
}

.container>div:nth-child(9) {
    background-image: url(../project4/assets/Rectangle\ 506-2.png);
    background-size: cover;
}

.container>div:nth-child(10) {
    background-image: url(../project4/assets/Rectangle\ 506-7.png);
    background-size: cover;
}

.container>div:nth-child(11) {
    background-image: url(../project4/assets/Rectangle\ 506-8.png);
    background-size: cover;
}

.container>div:nth-child(12) {
    background-image: url(../project4/assets/Rectangle\ 506-6.png);
    background-size: cover;
}

.container>div:nth-child(13) {
    background-image: url(../project4/assets/Rectangle\ 506-9.png);
    background-size: cover;
}

.container>div:nth-child(14) {
    background-image: url(../project4/assets/Rectangle\ 506.png);
    background-size: cover;
}

.container>div:nth-child(15) {
    background-image: url(../project4/assets/Rectangle\ 513.png);
    background-size: cover;
}